.site-main{
    width: 100%;
    min-height: 100vh;
}
html {
    font-size: 16px; /* Taille de police de base*/
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
/* --- Police Ecriture --- */
@font-face {
    font-family: 'Dancing_Script';
    src: url('../fonts/DancingScript-VariableFont_wght.ttf') format('truetype'); 

}

@font-face {
    font-family: 'Raleway-italic';
    src: url('../fonts/Raleway-Italic-VariableFont_wght.ttf') format('truetype'); 

    font-family: 'Raleway';
    src: url('../fonts/Raleway-VariableFont_wght.ttf') format('truetype'); 
}

/*  ---  Couleurs site ---  */
/* Déclaration de variables de couleur */
:root {
  --black-color: #000; 
  --white-color: #fff;
  --primary-color: #9B659F;
  --second-color:#DFC8E0;
  --purple-dark: #632068;
--purple-light:#BD94C0;

}


/*  --- HEADER ---  */
header{
    overflow-x: hidden;
    position: fixed;
    top: 3rem;
    right: 1rem;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    z-index: 1000;
}


nav{
    position: fixed;
    right: -5rem;
    padding: 30px 10px;
    display: flex;
    flex-direction: column;
    border-radius: 50px;
    border: var(--purple-dark) 3px dashed;
    align-items: center;
    transition: right 0.3s ease;
    background-image: url('../imgs/back_menu_nav.jpg');
}

/* ---  Liens Menu  --- */
.primary-menu{
    display: flex;
    gap: 4rem;
    width: 9rem;
    flex-direction: column;
    overflow-x: hidden;
    height: 50vh;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;

}

.primary-menu li{
    list-style: none;
}
.primary-menu li a{
    text-decoration: none;
    padding: 10px 15px;
    color: var(--second-color);
   border: solid 2px var(--second-color);
    border-radius: 30px; 
    background-color: var(--purple-light);
}
/*  --- Menu Burger Flower & Menu Icon --- */
.menu-icon {
    width: 45px;
    height: 45px;
    display: flex;
}

.menu-icon img{
    width: 7rem;
    height: 7rem;
}

/* Animation de rotation au survol */
#flower-icon:hover img:first-child {
    transform: rotate(180deg);
    transition: transform 0.3s ease;
}

/* Menu burger */

.open:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 5px); /* Rotation et translation pour la première barre */
}

.open:nth-child(2) {
    opacity: 0; /* Masquer la deuxième barre */
}

.open:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -5px); /* Rotation et translation pour la troisième barre */
}
.menu-burger {
            cursor: pointer;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 20px;
            width: 30px;
        }

        .bar {
            background-color: var(--purple-dark);
            height: 3px;
            width: 100%;
            transition: all 0.3s ease;
        }

        .menu {
            display: none;
        }

        .menu-open {
            display: flex;
            top: 12rem;
            right: 1rem;
        }

/*  --- PAGE ACCUEIL / BANNER ---  */
.banner{
    width: 100%;
    position: relative;
    overflow: hidden;
    height: 100vh;
}
.banner .items_banner{
    width: 100%;
    height: 100vh;
    background-image: url('../imgs/background_banner.jpg');
    background-size: cover; /* Redimensionne l'image pour couvrir toute la zone de l'arrière-plan */
    background-position: center; 
    overflow-x: hidden; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.items_banner h1{
    font-family: 'Dancing_Script', sans-serif;
    font-size: 15rem;
    text-align: center;
    overflow-x: hidden;
    -webkit-text-stroke: 1px var(--white-color); /* Pour les navigateurs basés sur WebKit */
    color: var(--purple-dark) /* Couleur du texte */
}

/* aNIMATION TITLE H1 */

.animate-text span {
    opacity: 0; /* Masquer chaque lettre initialement */
    transition: opacity 5s ease-in-out; /* Ajouter une transition pour une apparition en douceur de chaque lettre */
}

.flowers {
    position: fixed;
    top: 50%; 
    left: 0; 
}

.flower {
    position: absolute;
    top: 50%; 
    background-color: var(--second-color); 
    border-radius: 50%;
    opacity: 0; 
    animation: moveFlower 5s linear forwards;
}
.flower:nth-child(2) {
    left: 25vw; 
}

.flower:nth-child(3) {
    left: 50vw; 
}

/* Animation de la fleur */
@keyframes moveFlower {
    0% {
        left: -50px; 
    }
    100% {
        left: 100vw; 
    }
}


/* --- SECTION ABOUT ME --- */
.about-me {
    position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.about-me h2{
    position: absolute;
    top: 0;
    text-align: center;
    font-size: 4rem;
    color: var(--purple-dark);
    font-family: 'Dancing_Script', sans-serif;
}

.writing-effect{
    margin-bottom: 50px;
}

.writing-effect p {
  font-family: 'Raleway', sans-serif;
  font-size: 1.5rem;
  color: var(--second-color);
  white-space: nowrap; /* Empêche le texte de passer à la ligne */
  overflow: hidden;
  animation: scrollText 20s linear infinite; 
  text-shadow: 3px 2px 6px rgba(0, 0, 0, 0.5);
}

/* Animation du défilement horizontal */
@keyframes scrollText {
  0% {
    transform: translateX(100%); /* Démarre le texte hors de la vue à droite */
  }
  100% {
    transform: translateX(-100%); /* Défile le texte jusqu'à gauche */
  }
}

/* Effet Back Section About Me */
#about-me {
    position: relative;
    overflow: hidden;
    height: 70vh;
}

#about-me::before, #about-me::after {
    content: "";
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(to bottom, #4c004c, #000);
    opacity: 0.3;
    animation: abstractShapes 25s linear infinite;
}

#about-me::before {
    left: 0;
    transform-origin: left;
}

#about-me::after {
    right: 0;
    transform-origin: right;
}

@keyframes abstractShapes {
    0% {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        transform: scale(1);
    }
    25% {
        clip-path: polygon(0 0, 100% 0, 70% 100%, 0% 100%);
        transform: scale(1.1);
    }
    50% {
        clip-path: polygon(0 0, 100% 0, 50% 100%, 0% 100%);
        transform: scale(1);
    }
    75% {
        clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%);
        transform: scale(1.1);
    }
    100% {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        transform: scale(1);
    }
}

/* -- Last <p> - ABOUT ME -- */
.description_aboume{
   color: var(--purple-dark);
    font-family: 'Raleway', sans-serif; 
}
.thought-bubble {
  position: relative;
  max-width: 60rem;
  background-color: #f1f1f1; 
  border-radius: 20px; 
  padding: 20px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  overflow: hidden; 
}

.thought-bubble::before {
  content: '';
  position: absolute;
  width: 100%; 
  height: 100%; 
  background-color: transparent;
  border-radius: 20px; 
  top: 0px; 
  left: 0px; 
  box-sizing: border-box;
  clip-path: inset(0 0 100% 0); 
  overflow-x: hidden;
  border: 2px dashed var(--purple-dark);
  transition: all 1s ease-in-out;
}

.thought-bubble.drawBubble::before {
    overflow-x: hidden;
  animation: drawBubble 5s linear forwards;
}

@keyframes drawBubble {
  0% {
    clip-path: inset(0 0 100% 0);
    border-width: 0;
  }
  100% {
    clip-path: inset(0 0 0 0);
    border-width: 2px;
  }
}

/* --- SECTION CONTACT --- */ 
.contact{
    position: relative;
    margin: 30px auto;
}
.contact-form {
    max-width: 400px; 
    margin: 0 auto;
    padding: 30px;
    border-radius: 20px; 
    background-color: #f5f5fa; 
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1); 
}

.contact-form h2 {
    text-align: center;
    font-size: 4rem;
    margin-bottom: 30px;
    color: var(--purple-dark);
    font-family: 'Dancing_Script', sans-serif; 
}

.wpcf7{
    z-index: 1;
    padding: 10px;
    border: solid 3px var(--black-color);
    border-radius: 30px;
}
.contact-form label {
    display: block;
    color: var(--primary-color);
    font-family: 'Raleway', sans-serif;
    margin-bottom: 15px;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    width: calc(100% - 20px); /* Réduire la largeur */
    padding: 10px;
    border: none;
    border-bottom: 2px solid #c5cae9; /* Bordure inférieure pastel */
    background-color: transparent; /* Fond transparent */
    margin-bottom: 20px;
    border-radius: 15px; /* Arrondir davantage les bordures */
    transition: border-color 0.3s ease; /* Transition pour l'effet moderne */
}

.contact-form input[type="text"]:focus,
.contact-form input[type="email"]:focus,
.contact-form textarea:focus {
    border-bottom-color: #6a2c70; /* Changement de couleur de bordure au focus */
}

.contact-form textarea {
    resize: none;
}

.contact-form input[type="submit"] {
    width: calc(100% - 20px); /* Réduire la largeur */
    padding: 12px;
    border: none;
    border-radius: 15px; /* Arrondir davantage les bordures */
    background-color: #6a2c70; /* Couleur de fond du bouton */
    color: #fff; /* Couleur de texte du bouton */
    cursor: pointer;
    transition: background-color 0.3s ease; /* Transition pour l'effet moderne */
}

.contact-form input[type="submit"]:hover {
    background-color: #542461; /* Changement de couleur au survol */
}

/* Effet de bulle de savon */
.bubble {
    position: absolute;
    background-color: var(--second-color); /* Couleur de la bulle */
    width: 50px;
    height: 50px;
    opacity: 0.7;
    border-radius: 50%; /* Arrondir la forme */
    animation: floatBubble 5s ease-in-out infinite; /* Animation de flottement */
}

/* Animation de flottement */
@keyframes floatBubble {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
}
/* --- SECTION PROJETS ---*/

/*
.projets a {
    text-decoration: none;
}
.projets {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-image: url('../imgs/back_projets.jpg');
    background-position: bottom; 
    background-repeat: no-repeat;
    background-size: 1065px 962px;
    height: 80vh;

}

.projet {
    overflow-x: hidden ;
    position: relative;
    margin: 10px;
    width: 200px;
    height: 66vh;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    border: solid var(--primary-color) 5px;
    border-radius: 15px 0 0 15px;
    border-right-width: 20px;
    transition: transform 0.3s;
    background-image: url('../imgs/back_couverture_livre.jpg');
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: -8px 8px 16px rgba(0,0,0,0.8);
}

.profondeur{
    background-image: url('../imgs/back_book.png');
    width: 2rem;
    height: 40vh;
    position: absolute;
    top: 0;
    left: 0;
     border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}

.ombre {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9); /* Couleur de l'ombre */
   /* border-radius: 15px 0 0 15px; /* Assure que l'ombre suit la forme du livre */
   /* z-index: -1; /* Place l'ombre derrière le contenu du projet *//*
}
.projet_title{
    font-family: 'Dancing_Script', sans-serif;
    font-size: 4rem;
    color: var(--purple-dark);
    transition: opacity 0.3s;
}

.description-projet{
    font-family: 'Dancing_Script', sans-serif;
    font-size: 1rem;
    color: var(--primary-color);
}

.projet_title, .description-projet{
    writing-mode: vertical-lr;
    text-align: center;
    padding: 5px;
}

.container_title_descrption{
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    height: 100%;
}

.contenu-projet {
    z-index: 1;
    width: 100%;
    height: 100%;
}

.image-projet img{
    width: 70%;
    height: 8rem;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
} 

.contenu-survol img{
    width: 50%;
    height: 40vh;
}

.contenu-survol h2{
    font-size: 4rem;
    font-family: 'Dancing_script', sans-serif;
    color: var(--purple-dark);
}

.contenu-survol p{
    color: var(--primary-color);
    max-width: 50%;
    font-family: 'Raleway', sans-serif;
}

.contenu-survol {
    z-index: 50;
    border: solid 2px var(--second-color);
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.8);
    opacity: 0;
    pointer-events: none;
    width: 75%;
    max-width: calc(100% - 40px);
    transition: opacity 0.3s ease, transform 0.5s ease; /* Ajout de transition pour le fondu et le mouvement */
/*}*/

.projets {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    background-image: url('../imgs/back_projets.jpg');
    background-position: bottom; 
    background-repeat: no-repeat;
    background-size: 1065px 962px;
    height: 80vh;
}

.projet_title{
    font-family: 'Dancing_Script', sans-serif;
    font-size: 4rem;
    color: var(--purple-dark);
    transition: opacity 0.3s;
}

.description-projet{
    font-family: 'Dancing_Script', sans-serif;
    font-size: 1rem;
    color: var(--primary-color);
}


.projet_container_link {
    position: relative;
    text-decoration: none;
    margin-top: 50px;
    color: inherit;
}

.projet_container_link:nth-child(odd) {
    margin: 50px 0 0 297px;
}

.projet {
    background-image: url('../imgs/back_couverture_livre.jpg');
    position: relative;
    width: 250px;
    height: 350px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    overflow: hidden;
}

.profondeur {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
}

.contenu-projet {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
}

.projet_title {
    margin: 0;
    font-size: 1.2rem;
}

.description-projet {
    margin: 10px 0;
    font-size: 0.9rem;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.projet_container_link:hover .overlay {
    opacity: 1;
}

.contenu-survol {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.projet_container_link:hover .contenu-survol {
    display: flex;
}

.contenu-survol img {
    max-width: 100%;
    max-height: 100%;
}

.contenu-survol h2,
.contenu-survol p {
    margin: 10px 0;
    font-size: 1rem;
}

.contenu-survol p{
    color: var(--primary-color);
    max-width: 50%;
    font-family: 'Raleway', sans-serif;
}

.contenu-survol h2{
    font-size: 4rem;
    font-family: 'Dancing_script', sans-serif;
    color: var(--purple-dark);
}

/* --- SECTION COMPETENCES --- */
.competences{
    margin-top: 50px;
}
.competences h2{
    margin: 50px auto;
    font-size: 4rem;
    color: var(--purple-dark);
    text-align: center;
    font-family: 'Dancing_Script', sans-serif;
}
.container_skills{
    display: flex;
        flex-wrap: wrap;
    justify-content: center;
    gap: 1.7rem;
}
 .skills-section {
            margin-bottom: 20px;
            width: 23rem;
        }

        .skill-list {
            list-style: none;
            display: none;
            margin: 0;
            padding: 0;
            text-align: center;
            font-family: 'Dancing_Script',sans-serif;
            font-size: 1.7rem;
            color: var(--primary-color);
        }

        .skill-list li{
            padding: 10px;
        }

        .skill-list.active {
            display: block;
        }

        .toggle-button {
            cursor: pointer;
            background-color: var(--purple-dark);
            color: #fff;
            border-width: 10px; 
            border-style: solid; 
            border-image: url('../imgs/back_menu_nav.jpg') 30 round;
            padding: 10px 20px;
            border-radius: 80px;
            margin-bottom: 10px;
            font-family: 'Raleway',sans-serif;
            font-size: 1rem;
            text-align: center;
        }

        .toggle-button:hover {
            background-color: var(--primary-color);
        }


/* SINGLE POST PROJET */

article{
    width: 99% !important;
    min-height: 100vh !important;
}

.entry-title{
    font-size: 4rem;
    text-align: center;
    color: var(--purple-dark);
    padding-bottom: 80px;
    font-family: 'Dancing_Script',sans-serif;
}
.featured-image img{
    width: 33rem;
    height: 50vh;
    border: var(--primary-color) solid 5px;
}
.entry-content{
    overflow-x: hidden;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}

.container_acf{
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 0.2rem;
}

.acf-description  h2{
    overflow-x: hidden;
    font-family: 'Raleway',sans-serif;
    font-size: 2rem;
    color: var(--primary-color);
}
.acf-description  p{
    overflow-x: hidden;
    font-family: 'Raleway',sans-serif;
    font-size: 1.2rem;
    color: var(--black-color);
        max-width: 501px;
    margin: 20px;
}
.acf-contexte h2{
    font-family: 'Raleway',sans-serif;
    font-size: 2rem;
    color: var(--primary-color);
}
.acf-contexte p{
    font-family: 'Raleway',sans-serif;
    font-size: 1.2rem;
    color: var(--black-color);
    max-width: 501px;
    margin: 20px;
}

/* RESPONSIVE */

@media only screen and (max-width: 1024px){
    .items_banner h1{
        font-size: 9rem;
    }
    .items_banner{
        height: 55vh;
    }
    .banner{
        height: 55vh;
    } 
    .menu-icon img {
        width: 3rem;
        height: 3rem;
    }
}

@media only screen and (max-width: 768px){
    .items_banner h1{
        font-size: 5rem;
    }
    .banner .items_banner{
        height: 20vh;
        background-image: none;
    }
    .banner{
        height: 20vh;
    } 

    .menu-icon img{
        width: 2rem;
        height: 2rem;
    }

    .flowers{
        top: 18%;
    }
    .writing-effect p{
        font-size: 1rem;
    }
    header{
        background-color: transparent;
        border: none !important;
    }
    .projet{
        height: 40vh;
        width: 300px;
    }
    .skills-section {
        display: inline-block;
        width: 100%;
    }

    .skill-list.active {
        display: block;
    }

    .entry-title {
        font-size: 3rem; /* Adjusted font size for smaller screens */
    }
    .featured-image img {
        width: 100%; /* Ensures image takes full width on smaller screens */
        height: auto; /* Maintains aspect ratio */
    }
    .acf-description p,
    .acf-contexte p,
    .acf-contexte a {
        font-size: 1rem; /* Adjusted font size for smaller screens */
    }
}